@charset "utf-8";
/* CSS-File for Blog (screen-version): Samdney.github.io
	Author and Copyright: Carolin Zöbelein
	E-Mail: contact(at)carolin-zoebelein(dot)de
	GnuPG: D4A7 35E8 D47F 801F 2CF6 2BA7 927A FD3C DE47 E13B 
*/

/* screenreader option */
.skip { position: absolute; margin-left: -999px; width: 990px; }

html, body {
	font-size: 100.01%;
}

#new {
	font-size: 1.2em;
	font-family: monospace;
}

#intro {
	font-size: 1.2em;
	font-family: monospace;
}

#contact {
	font-size: 1.2em;
	font-family: monospace;
}

#pages {
	font-size: 1.2em;
	font-family: monospace;
}

#entry {
	margin-top: 2.8em;
	font-size: 1.2em;
	font-family: monospace;
}
