@charset "utf-8";
/* CSS-File for Homepage (screen-version): carolin-zoebelein.de
	Author and Copyright: Carolin Zöbelein
	E-Mail: contact@carolin-zoebelein.de
*/

/* screenreader option */
.skip { position: absolute; margin-left: -999px; width: 990px; }

html, body {
	font-size: 100.01%;
}

#intro {
	font-size: 1em;
	font-family: monospace;
}

#contact {
	font-size: 1em;
	font-family: monospace;
}

#pages {
	font-size: 1em;
	font-family: monospace;
}

#entry {
	margin-top: 2.8em;
	font-size: 1em;
	font-family: monospace;
}
