{% extends "base.html" %}


{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{% block keywords %}{% endblock keywords %}">
    <link rel="icon" href="{{ SITEURL }}/images/favicon.ico">

    <title>{% block title %}{% if articles_page.has_previous() %}{{ super() }} - page {{ articles_page.number }} {% else %}{% if articles %}{% for article in articles_page.object_list %}{% if loop.first and not articles_page.has_previous() %}{{ article.title }}{% endif %}{% endfor %}{% else %}{{ super() }}{% endif %}{% endif %}{% endblock title %}</title>

    <!--{% block description %}{{ SITENAME }}, {{ SITESUBTITLE }}{% endblock description %} -->

    <!-- Awesome font -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Stylesheets -->
    <link href="{{ SITEURL }}/theme/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/css/fonts.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/css/nest.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/css/pygment.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/css/academicons.min.css" rel="stylesheet">
    <!-- /Stylesheets -->

    <!-- Social -->
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{% if articles_page.has_previous() %}{{ SITENAME }} - page {{ articles_page.number }}{% else %}{% if articles %}{% for article in articles_page.object_list %}{% if loop.first and not articles_page.has_previous() %}{{ article.title }}{% endif %}{% endfor %}{% else %}{{ SITENAME }}{% endif %}{% endif %}"/>
    <meta property="og:description" content="{% if articles_page.has_previous() %}{{ SITENAME }} - page {{ articles_page.number }}{% else %}{% if articles %}{% for article in articles_page.object_list %}{% if loop.first and not articles_page.has_previous() %}{{ article.summary }}{% endif %}{% endfor %}{% else %}{{ SITENAME }}{% endif %}{% endif %}"/>
    <meta property="og:site_name" content="{{ SITENAME }}" />
    <meta property="og:url" content="{{ SITEURL_SOCIAL }}"/>
    <meta property="og:image" content="{{ SITEURL_SOCIAL }}/images/twittercard.jpg"/>

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@SamdneyTweet" />
    <meta name="twitter:title" content="{% if articles_page.has_previous() %}{{ SITENAME }} - page {{ articles_page.number }}{% else %}{% if articles %}{% for article in articles_page.object_list %}{% if loop.first and not articles_page.has_previous() %}{{ article.title }}{% endif %}{% endfor %}{% else %}{{ SITENAME }}{% endif %}{% endif %}" />
    <meta name="twitter:description" content="{% if articles_page.has_previous() %}{{ SITENAME }} - page {{ articles_page.number }}{% else %}{% if articles %}{% for article in articles_page.object_list %}{% if loop.first and not articles_page.has_previous() %}{{ article.summary }}{% endif %}{% endfor %}{% else %}{{ SITENAME }}{% endif %}{% endif %}" />
    <meta name="twitter:image" content="{{ SITEURL_SOCIAL }}/images/twittercard.jpg" />

    <!-- RSS Feeds -->
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    <!-- /RSS Feeds -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

{% endblock head %}


{% block headerstyle %}
    {% if NEST_HEADER_IMAGES %}
    <div class="header-container" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{{ SITEURL }}/images/{{ NEST_HEADER_IMAGES }}'); background-position: center; ">
    {% else %}
    <div class="header-container gradient">
    {% endif %}
{% endblock headerstyle %}

{% block header %}
    <div class="container header-wrapper">
        <div class="row">
              <div class="col-lg-12">
                  <div class="header-content">
                    {% if NEST_INDEX_HEADER_TITLE_HEAD %}
                    <div style="background-color: rgba(0, 0, 0, 0.5); color: white; padding-top: 8px; padding-bottom: 8px;">
                          <h1 class="header-title">{{ NEST_INDEX_HEADER_TITLE }}</h1>
                          <div class="header-underline"></div>
                          {% if NEST_INDEX_HEADER_SUBTITLE %}
                          <p class="header-subtitle header-subtitle-homepage">{{ NEST_INDEX_HEADER_SUBTITLE }}</p>
                          {% endif %}
                    </div>
                    {% endif %}
                  </div>
              </div>
        </div>
    </div>
{% endblock header %}

{% block content %}	
    {% if DEFAULT_PAGINATION %}    
    <div class="archive-container">
        <div class="container content archive">
            {% if articles %}
                {% for article in articles_page.object_list %}

                    {# First item #}
                    {% if loop.first and not articles_page.has_previous() %}
                        <aside id="featured" class="body">
                            <article>
                                <h1 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
                                <p><font size="2.3em"><i>{{ article.locale_date }} by {{ article.author }}<br />
                                Category: {{ article.category }}<br />

                                Tags: {% for tag in article.tags|sort %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
                                </i></font>

                                </p>
                                {{ article.content }}
                            </article>
                            {% if loop.length == 1 %}
                                {% include 'pagination.html' %}
                            {% endif %}
                        </aside><!-- /#featured -->
                    {% endif %}
                {% endfor %}
            {% endif %}
            <hr style="border:dotted #000000 1px;"/>
            <h2><a href="{{ SITEURL }}/{{ articles_page.url }}">{{ NEST_INDEX_CONTENT_TITLE }} {% if articles_page.has_previous() %}<small>- page {{ articles_page.number }}</small>{% endif %}</a></h2>
            <dl class="dl-horizontal">
                {% for article in articles_page.object_list %}
                    {% if not loop.first and not articles_page.has_previous() %}
                        <dt>{{ article.locale_date}}</dt>
                        <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
                        <dd>{{ article.summary }}</dd>
                    {% endif %}
                    {% if articles_page.has_previous() %}
                        <dt>{{ article.locale_date}}</dt>
                        <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
                        <dd>{{ article.summary }}</dd>
                    {% endif %}
                {% endfor %}
            </dl>
            <hr style="border:dotted #000000 1px;"/>
                 {% for tag, articles in tags|sort %}
                    <a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>
                {% endfor %}
            <hr style="border:dotted #000000 1px;"/>
        </div>
    </div>
    {% include 'pagination.html' %}
    {% else %}

    <div class="archive-container">
        <div class="container content archive">
            <hr style="border:dotted #000000 1px;"/>
            <h2><a href="{{ SITEURL }}/">{{ NEST_INDEX_CONTENT_TITLE }}</a></h2>
            <dl class="dl-horizontal">
                {% for article in articles %}
                    {% if not loop.first and not articles_page.has_previous() %}
                        <dt>{{ article.locale_date}}</dt>
                        <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
                    {% endif %}
                    {% if articles_page.has_previous() %}
                        <dt>{{ article.locale_date}}</dt>
                        <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
                    {% endif %}
                {% endfor %}                   
            </dl>
            <hr style="border:dotted #000000 1px;"/>
        </div>
    </div>
    {% endif %}
{% endblock content %}
